<body>


  <div class="container mt-5">
    <h2 class="text-center">A sua doação importa</h2>

    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-button" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Quero Ajudar
      </button>
    </div>

    <div class="collapse mt-4" id="collapseExample">
      <div class="card card-body doacao">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Informe o seu nome"
            [(ngModel)]="usuario.nome" name="nome">
        </div>
        <div class="form-group">
          <label for="localizacao">Local da doação</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Informe o local da doação"
            [(ngModel)]="doacao.endereco" name="endereco">
        </div>
        <label>Numero de peças</label>
        <div class="input-group mb-3">
          <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="doacao.doado" name="doado">
            <option selected disabled>Escolher...</option>
            <option value="1">Um</option>
            <option value="2">Dois</option>
            <option value="3">Três</option>
          </select>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-doar w-25" (click)="doar()">DOAR</button>
        </div>
      </div>
    </div>


  </div>
  <div class="gallery-section">
    <div class="inner-width">
      <h1>Doações</h1>
      <div class="border"></div>
      <div class="gallery">

        <a href="#" class="image">
          <img src="../../assets/1.png" alt="">
        </a>

        <a href="#" class="image">
          <img src="../../assets/2.png" alt="">
        </a>

        <a href="#" class="image">
          <img src="../../assets/3.png" alt="">
        </a>

        <a href="#" class="image">
          <img src="../../assets/4.png" alt="">
        </a>

        <a href="#" class="image">
          <img src="../../assets/5.png" alt="">
        </a>

        <a href="#" class="image">
          <img src="../../assets/6.png" alt="">
        </a>

        <a href="#" class="image">
          <img src="../../assets/7.png" alt="">
        </a>

        <a href="#" class="image">
          <img src="../../assets/8.png" alt="">
        </a>

      </div>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Meus Cupons</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-sm-6 col-md-4 mt-4" *ngFor="let doacao of doacoes | orderBy : key : reverse">
            <div class="card text-white sem-borda">
              <img class="card-img" src="/assets/Cupom.png" alt="Card image">
              <div class="card-img-overlay">
                <h5 class="card-title">CUPOM</h5>
                <p class="card-text">{{doacao.codigo.toUpperCase()}}</p>
                <p class="card-text">Data de emissão: {{doacao.data | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
          </div>

        </div>


      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet
        consectetur adipisicing elit.</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet
        consectetur adipisicing elit.</div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-5 mt-5">
    <button class="btn btn-button" routerLink='/feed'>FEED</button>
  </div>
  <!--  -->

</body>