<main>
    <section id="introducao" class="pb-3">
        <div class="container">
            <h1 class="pb-3">Política de Privacidade <span class="azul-claro"><br>Smart Giving</span></h1>
            <p> Consideramos que você deve estar sempre ciente de quais dados são colhidos de você e como
                são
                utilizamos, e que seu controle sobre isso é muito importante. Para isso pretendemos prepará-lo para
                realizar as melhores escolhas referente as informações que você disponibilizará para nós.<br> <br>
                Esse é o propósito desta Política de Privacidade. </p>
        </div>
    </section>
</main>

<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 menu">
                <div id="menuLateral">
                    <div class="row">
                        <a class="text-dark font-weight-bold p-2" role="button" [routerLink]=""
                            (click)="irParaElemento(politicaDePrivacidade)">
                            Política de
                            Privacidade da Smart Giving</a>
                    </div>
                    <div class="row">
                        <a class="text-dark font-weight-bold p-2" role="button" [routerLink]=""
                            (click)="irParaElemento(dadosColetadosEOndeUsamos)">Dados
                            Coletados e Onde Usamos</a>
                    </div>
                    <div class="row">
                        <a class="text-dark font-weight-bold p-2" role="button" [routerLink]=""
                            (click)="irParaElemento(direitosDeProtecaoDosDados)">Direitos de Proteção dos Dados</a>
                    </div>
                    <div class="row">
                        <a class="text-dark font-weight-bold p-2" role="button" [routerLink]=""
                            (click)="irParaElemento(informacoesImportantes)">Informações
                            Importantes </a>
                    </div>
                    <div class="row">
                        <a class="text-dark font-weight-bold p-2" role="button" [routerLink]=""
                            (click)="irParaElemento(atualizacoesDaPoliticaDePrivacidade)">Atualizações da Política de
                            Privacidade</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 bloco-do-menu">
                <div>
                    <h3 #politicaDePrivacidade id="politicaDePrivacidade" class="titulo-do-menu">Política de Privacidade
                        da Smart-Giving</h3>
                    <p class="texto-do-menu">Nós da SMART-GIVING levamos a sério a proteção dos seus dados, e estamos
                        comprometidos a
                        estabelecermos
                        uma confiança junto a você, nos esforçando em garantir sua satisfação em todos os aspectos,
                        sendo o
                        principal deles a segurança dos seus dados. Nosso objetivo é informa-los sobre como seus
                        dados
                        pessoais
                        e para qual finalidade estaremos utilizando os mesmos; sendo assim leia com atenção e tome
                        nota
                        de
                        tudo
                        que achar interessante, caso tenha alguma dúvida não deixe de entrar em contato conosco,
                        estaremos
                        dispostos a esclarece-las.
                        Alterações em nossa Política de Privacidade podem tornar-se necessárias quando da ocorrência
                        de
                        uma
                        modificação ou implementação de novas ferramentas que venham a ocorrer em nosso site, mas
                        não se
                        preocupe, pois estaremos lhe informando caso ocorra qualquer modificação na mesma.
                    </p>
                </div>
                <div>
                    <h3 #dadosColetadosEOndeUsamos id="dadosColetadosEOndeUsamos" class="titulo-do-menu">Dados Coletados
                        e Onde Usamos</h3>
                    <p class="texto-do-menu">A SMART-GIVING se reserva no direito de utilizar, armazenar e transmitir
                        seus dados a
                        terceiros
                        (parceiros), os dados coletados e registros de acesso para as seguintes finalidades: <br>
                        • Para prestar os serviços oferecidos junto a aplicação, bem como comunicar novidades e
                        atualizações
                        ocorridas na aplicação; <br>
                        • Para aprimorar as funcionalidades da aplicação; <br>
                        • Em caso de suspeita de fraudes, violação de direitos de terceiros ou outros atos ilícitos
                        praticados
                        pelos Usuários, para fins de investigação por terceiros prejudicados e/ou por autoridades
                        competentes;
                        <br>
                        • Mediante ordem judicial;
                    </p>
                </div>
                <div>
                    <h3 #direitosDeProtecaoDosDados id="direitosDeProtecaoDosDados" class="titulo-do-menu">Direitos de
                        Proteção dos Dados</h3>
                    <p class="texto-do-menu">Após a aceitação das Políticas de Privacidade, quais são os seus direitos
                        perante a
                        aplicação?
                        <br>
                        • Receber qualquer notificação da aplicação quando da armazenagem dos dados encaminhados;
                        <br>
                        • Quando da ocorrência de envio de informações incorretas, os mesmos serem corrigidos
                        mediante a
                        informação dos dados corretos; <br>
                        • Ter a exclusão de dados que são mais necessários para a aplicação, desde que os mesmos não
                        sejam
                        sujeitos a uma obrigação de retenção; <br>
                        • Revogar, a qualquer momento, o consentimento emitido por você para processar e utilizar
                        seus
                        dados
                        pessoais junto a aplicacã0, desde que os mesmos não sejam exigidos por uma disposição legal
                        imperativa
                        ou diretamente necessários para completar uma relação contratual existente.
                        A SMART-GIVING considera a segurança de seus dados uma parte extremamente importante, pois é
                        a
                        partir
                        daí que podemos manter um laço de confiança com você. Nos dias atuais, sabemos que todo e
                        qualquer
                        sistema de segurança está sujeito a falhas e possíveis violações, ocorrendo o vazamento de
                        dados,
                        porém
                        para evitar esse tipo de situação, tornando a sua navegação segura, estaremos utilizando
                        processos
                        de
                        criptografia padrão da internet para todos as informações dos Usuários.
                    </p>
                </div>
                <div>
                    <h3 #informacoesImportantes id="informacoesImportantes" class="titulo-do-menu">Informações
                        Importantes </h3>
                    <p class="texto-do-menu">Não se esqueça que mesmo com todos os nossos esforços para manter a
                        segurança de seus dados,
                        você
                        é o
                        grande responsável pela manutenção de sua privacidade e sigilo de seu login e senha e/ou
                        informações
                        pessoais, sendo assim nunca forneça seus dados a outras pessoas.
                        Em caso de suspeita de roubo de seu Login e Senha, entre em contato conosco pelos canais de
                        comunicação
                        existentes em nosso site e realize a troca de sua senha logo em seguida pelo nosso site.
                    </p>
                </div>
                <div>
                    <h3 #atualizacoesDaPoliticaDePrivacidade id="atualizacoesDaPoliticaDePrivacidade"
                        class="titulo-do-menu">Atualizações da
                        Política de Privacidade</h3>
                    <p class="texto-do-menu">Informamos novamente que, conforme necessário, reservamo-nos o direito de
                        realizar a revisão
                        de
                        nossa
                        Política de Privacidade e adaptá-la conforme mudanças que venham a ocorrer junto a
                        aplicação,
                        entretanto
                        o Usuário será notificado antecipadamente, cumprindo-lhe analisar as modificações antes do
                        aceita da
                        nova versão.</p>
                </div>
            </div>
        </div>
    </div>

</section>