.btn-button {
  color: #ffffff;
  font-weight: bolder;
  background-color: #183059;    
}

.btn-button:hover {
  color: #183059;
  font-weight: bolder;
  background-color: #ffffff; 
  border-color: #183059;
}

.doacao {
  background-color: #183059; 
  color: #ffffff;
  margin: 0 auto 70px;
  width: 90%;
  max-width: 500px;
}

.btn-doar {
  color: #183059;
  font-weight: bolder;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-doar:hover {
  color: #ffffff;
  font-weight: bolder;
  background-color: #183059;
  border-color: #ffffff;
}


.gallery-section{
  width: 100%;
  padding: 60px 0;

}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  color: #333;
  margin: 30px;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:959px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}