<div class="titulo">
    <div class="container">
        <h1 class="titulo-principal">Perguntas Frequentes</h1>
        <h2 class="titulo-secundario">Smart Giving</h2>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div id="accordion">
        <div class="card">
            <div class="card-header collapse-backgroundColor" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link color-link" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        O que eu posso doar?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Pode doar peças de roupas e/ou sapatos, de qualquer tamanho, desde que
                    estejam em bom estado de conservação. Não aceitamos peças íntimas.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapse-backgroundColor" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed color-link" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Como faço para doar?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Para doar é simples, basta logar em sua conta e selecionar a opção "Doar Roupas", logo
                    abaixo da sua foto; dai é só preencher os campos e pronto, já estará registrado em nosso sistema
                    a sua doação, aguardando o recebimento em um dos nossos postos de entrega.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapse-backgroundColor" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed color-link" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Onde entrego as minhas doações?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Temos postos de entrega nas lojas/empresas de nossas parceiras, funcionando das
                    08:00 ás 17:00. É só levar suas doações e deixar com um de nossos colaboradores.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapse-backgroundColor" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed color-link" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        Como faço para ser um parceiro?
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    Para ser nosso parceiro é necessário entrar em contato conosco através de nosso site, e
                    se cadastrar junto a nossa rede social. Além de promover campanhas publicitárias para a
                    arrecadação das peças de roupas, em alguns pontos de coleta.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header collapse-backgroundColor" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed color-link" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        Como obtenho um desconto?
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    Ao doar 10 peças ou mais, você ganhará um cupom de desconto para a sua próxima
                    compra em um de nossas lojas parceiras, que será validado no momento da entrega de sua
                    doação em um de nossos pontos de entrega.
                </div>
            </div>
        </div>

        <div class="row mb-5 mt-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btnHome" routerLink='/home'>HOME</button>
            </div>
        </div>
    </div>
</div>