<main>
    <section id="topo" class="mt-5 ">
        <div class="container">
            <div class="row d-flex justify-content-between flex-wrap bemVindo">
                <div>
                    <h1>Bem vindxs!</h1>
                    <p>
                        Já pensou em <strong> ajudar </strong> quem precisa, fazer uma boa ação, e ainda ganhar
                        <strong>descontos</strong> nas suas lojas
                        favoritas? Aqui na SmartGiving é assim!<br />
                        Faça já sua doação e ajude a espalhar o bem!
                    </p>
                    <button class="btn mt-4 cadastrar">Cadastrar-se</button>
                </div>
                <div>
                    <div>
                        <img src="../../assets/doacao.png" alt="Imagem de pessoas realizando doações">
                    </div>

                </div>
            </div>
        </div>

    </section>


    <section id="sobre">
        <div class="container">
            <div class="mt-5 mb-5">
                <h2>Sobre nós</h2>
                <p>
                    Somos uma organização sem fins lucrativos e temos como objetivo prestar auxilio
                    as famílias em situação de pouca ou total falta de vestimenta através de doações.
                    Procuramos levar para estas pessoas ajuda no momento de necessidade, sejam elas vitimas de enchente,
                    situação de rua
                    e demais momentos de dificuldade. <br />
                    Nossa missão é incentivar as pessoas à ajudarem umas as outras, por menor que seja a doação fará a
                    diferença na vida de alguém.

                </p>
            </div>
        </div>
    </section>

    <section id="doacao">
        <div class="container">
            <div>
                <img class="rounded-circle mb-4" src="../../assets/donate1.png" alt="">
                <h3>Desconto</h3>
                <p class="mr-4 mb-5">
                    Ao realizar uma doação você recebe um cupom de desconto para usar em qualquer um de nossos
                    parceiros, ou seja,
                    você ajuda alguém e ainda é recompensado por isso. <br>
                    Seja um doador!
                </p>
            </div>

            <div>
                <img class="rounded-circle mb-4" src="../../assets/agasalho.png" alt="">
                <h3>Campanha do Agasalho</h3>
                <p class="mr-4 ">
                    O frio tem castigado pessoas em situação de rua e diversas familias que não possuem condição de
                    comprar roupas,
                    que tal retirar do aramario aquele agasalho que você não utiliza mais ? <br>
                    Seja solidario, doe um agasalho.
                </p>
            </div>

            <div>
                <img class="rounded-circle mb-4" src="../../assets/maos.png" alt="">
                <h3>Enchente</h3>
                <p>
                    As chuvas trazem consigo as enchentes e muitas familias acabam perdendo tudo que possuiam. <br>
                    Sua roupa usada pode ser um recomeço. <br>
                    Colabore com a nossa campanha, juntos somos mais fortes.
                </p>
            </div>
        </div>
    </section>

    <section id="fundadores">
        <div>
            <h3 class="mb-5 text-center text-light">Idealizadores</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="carouselControls1" class="carousel slide carouselActive1" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 text-right">
                                        <h4 class="nameFund text-light">Eduardo</h4>
                                        <p class="text-light text-left">
                                            Apaixonado por tecnologia, acredito que ela possui o poder de
                                            transformar o mundo e unir as pessoas. Pró-ativo sempre em busca
                                            de novos desafios e conhecimentos. Com esse projeto tenho como
                                            objetivo através da tecnologia, melhorar a vida das pessoas.
                                        </p>
                                        <a href="https://www.linkedin.com/in/eduardomingoranca/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/eduardomingoranca/</a>
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/eduardo.jpeg" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-lg-3 d-flex justify-content-end">
                                        <img src="../../assets/larissa.jpeg" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4 class="nameFund text-light">Larissa</h4>
                                        <p class="text-light text-left">
                                            Formada em desenvolvimento web Fullstack pelo Senai de Informática, maior
                                            contribuição e contato com o BackEnd durante o último projeto, sendo a área
                                            que mais me dedico aos estudos atualmente. Tenho experiencia com
                                            desenvolvimento de app Android com Kotlin, apaixona por python e grande
                                            interesse em inteligência artificial após participar de um hackathon sobre o
                                            tema.
                                        </p>
                                        <a href="https://www.linkedin.com/in/larissa-teixeiras/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/larissa-teixeiras/</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 text-right">
                                        <h4 class="nameFund text-light">Nathaly</h4>
                                        <p class="text-light text-left">
                                            Desenvolvedora web java full stack, aluna do Bootcamp da Generation Brasil e
                                            graduanda em Análise e Desenvolvimento de Sistemas pela Uninove.
                                        </p>
                                        <a href="https://www.linkedin.com/in/nathalyelquebarutti/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/nathalyelquebarutti/</a>
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/nathy.jpeg" class="img-responsive rounded-circle">
                                    </div>
                                    <div class="col-lg-3 d-flex justify-content-end">
                                        <img src="../../assets/pedro.jpeg" class="img-responsive rounded-circle">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4 class="nameFund text-light">Pedro</h4>
                                        <p class="text-light">
                                            Me chamo Pedro, 25 anos, um cara tranquilo com vontade de sempre aprender e
                                            me desafiar com coisas novas. Iniciei na área de tecnologia me graduando em
                                            Eng. de Controle e Automação, aprendendo sobre as áreas de programação,
                                            durante os 6 anos, e seu vasto campo de atuação, rumei ao encontro do
                                            desenvolvimento para auxiliar pessoas com soluções simples, possíveis com a
                                            ajuda da tecnologia.
                                        </p>
                                        <a href="https://www.linkedin.com/in/pedro-stradiotti-neto/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/pedro-stradiotti-neto/</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 text-right">
                                        <h4 class="nameFund text-light">Wallacy</h4>
                                        <p class="text-light text-left">
                                            Apaixonado por tecnologia desde o meu primeiro contato com um computador.
                                            Não me desliguei mais desse mundo, fui para a área de hardware onde aprendi
                                            muito sobre o funcionamento de um computador e seus componentes.
                                            Hoje, partindo para programação, sinto que posso não apenas desenvolver
                                            soluções, mas acima de tudo ajudar pessoas.

                                        </p>
                                        <a href="https://www.linkedin.com/in/wallacy-neres/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/wallacy-neres/</a>
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/wallacy.png" class="img-responsive rounded-circle">
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-3"></div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev seta" href="#carouselControls1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next seta" href="#carouselControls1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div id="carouselControls2" class="carousel slide carouselActive2" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-6 text-right">
                                        <h4 class="nameFund text-light">Eduardo</h4>
                                        <p class="text-light text-left">
                                            Apaixonado por tecnologia, acredito que ela possui o poder de
                                            transformar o mundo e unir as pessoas. Pró-ativo sempre em busca
                                            de novos desafios e conhecimentos. Com esse projeto tenho como
                                            objetivo através da tecnologia, melhorar a vida das pessoas.
                                        </p>
                                        <a href="https://www.linkedin.com/in/eduardomingoranca/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/eduardomingoranca/</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="../../assets/eduardo.jpeg" class="img-fluid rounded-circle mt-5">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6 d-flex justify-content-end text">
                                        <img src="../../assets/larissa.jpeg" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="col-lg-6">
                                        <h4 class="nameFund  text-light">Larissa</h4>
                                        <p class="text-light">
                                            Formada em desenvolvimento web Fullstack pelo Senai de Informática, maior
                                            contribuição e contato com o BackEnd durante o último projeto, sendo a área
                                            que mais me dedico aos estudos atualmente. Tenho experiencia com
                                            desenvolvimento de app Android com Kotlin, apaixona por python e grande
                                            interesse em inteligência artificial após participar de um hackathon sobre o
                                            tema.
                                        </p>
                                        <a href="https://www.linkedin.com/in/larissa-teixeiras/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/larissa-teixeiras/</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6 text-right">
                                        <h4 class="nameFund text-light ">Nathaly</h4>
                                        <p class="text-light text-left">
                                            Desenvolvedora web java full stack, aluna do Bootcamp da Generation Brasil e
                                            graduanda em Análise e Desenvolvimento de Sistemas pela Uninove.
                                        </p>
                                        <a href="https://www.linkedin.com/in/nathalyelquebarutti/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/nathalyelquebarutti/</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="../../assets/nathy.jpeg" class="img-responsive rounded-circle mt-5">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item mb-5">
                                <div class="row">
                                    <div class="col-lg-6 d-flex justify-content-end">
                                        <img src="../../assets/pedro.jpeg" class="img-responsive rounded-circle">
                                    </div>
                                    <div class="col-lg-6">
                                        <h4 class="nameFund text-light">Pedro</h4>
                                        <p class="text-light">
                                            Me chamo Pedro, 25 anos, um cara tranquilo com vontade de sempre aprender e
                                            me desafiar com coisas novas. Iniciei na área de tecnologia me graduando em
                                            Eng. de Controle e Automação, aprendendo sobre as áreas de programação,
                                            durante os 6 anos, e seu vasto campo de atuação, rumei ao encontro do
                                            desenvolvimento para auxiliar pessoas com soluções simples, possíveis com a
                                            ajuda da tecnologia.
                                        </p>
                                        <a href="https://www.linkedin.com/in/pedro-stradiotti-neto/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/pedro-stradiotti-neto/</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6 text-right">
                                        <h4 class="nameFund text-light">Wallacy</h4>
                                        <p class="text-light text-left">
                                            Apaixonado por tecnologia desde o meu primeiro contato com um computador.
                                            Não me desliguei mais desse mundo, fui para a área de hardware onde aprendi
                                            muito sobre o funcionamento de um computador e seus componentes.
                                            Hoje, partindo para programação, sinto que posso não apenas desenvolver
                                            soluções, mas acima de tudo ajudar pessoas.

                                        </p>
                                        <a href="https://www.linkedin.com/in/wallacy-neres/" target="_blank"
                                            class="text-decoration-none text-light font-weight-bold">in/wallacy-neres/</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="../../assets/wallacy.png" class="img-responsive rounded-circle mt-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev seta" href="#carouselControls2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next seta" href="#carouselControls2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="parceiro">
        <div>
            <h3 class="text-center ">Nossos Parceiros</h3>
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="logoParceiro">
                    <img class="mr-3" src="../../assets/Generation.png" alt="">
                    <img class="mr-3" src="../../assets/exo.png" alt="">
                    <img src="../../assets/m.png" alt="">
                    <img src="../../assets/sustenta.png" alt="">
                    <img src="../../assets/mestre.png" alt="">
                    <img src="../../assets/troca.png" alt="">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mr-2">
            <button type="button" class="btn  mb-5 mt-5  " routerLink='/contato'>
                Quero ser um parceiro
            </button>
        </div>
    </section>
</main>