.navbar {
    font-size: 24px;
    max-width: 100%;
}

.navbar-nav li a {
    margin-left: 7em;
}

.menu{
    background-color: #183059;
}

.menu > li > a{
    background-color: #183059;
}

.hamburger{
    font-size: 30px;
    color: white;
}

.navbar-toggler {
    color: #fff;
}

.btn{
    font-size: 20px;
}

.loginButton {
    cursor: pointer;
}

#adm {
    display: none;
}

.loginOut .loginOutBtn {
    background-color: #183059;
    color: #ffffff;
    font-size: 24px;
}

.tabsList {
    background-color: #d3d3d3;
}

.logoLogin {
    background-color: #183059;
}

.btnLogin {
    background-color: #183059;
    color: #ffffff;
    font-weight: bolder;
}

.btnLogin:hover {
    background-color: #ffffff;
    color: #183059;
    font-weight: bolder;
    border-color: #183059;
}

.btn-button-cancelar {
    color: #ffffff;
    font-weight: bolder;
    background-color: #6c757d;    
  }
  
.btn-button-cancelar:hover {
    color: #6c757d;
    font-weight: bolder;
    background-color: #ffffff; 
    border-color: #6c757d;
}

@media screen and (max-width: 1090px){
    .navbar {
        font-size: 22px;
    }

    .loginOut .loginOutBtn {
        font-size: 22px;
    }
}

@media screen and (max-width: 1030px){
    .navbar {
        font-size: 18px;
    }

    .loginOut .loginOutBtn {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px){
    .navbar {
        font-size: 22px;
    }

    .loginOut .loginOutBtn {
        font-size: 22px;
        padding-left: 0;
        box-shadow: none;
        border: none;
    }

    .navbar-nav li a {
        margin-left: 0;
    }
}