<body>
    <br><br><br>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="galaxy"></div>
    <div class="lamps-container">
        <div class="lamps">
            <img class="vert-move1" src="../../assets/star.png" />
            <img class="vert-move3" src="../../assets/moon.png" />
            <img class="vert-move2" src="../../assets/lamp-3.png" />
            <img class="vert-move3" src="../../assets/moon.png" />
            <img class="vert-move1" src="../../assets/star.png" />

        </div>
        <div class="lamps-sec">
            <img class="vert-move1" src="../../assets/moon.png" />
            <img class="vert-move3" src="../../assets/star.png" />
            <img class="vert-move2" src="../../assets/lamp-3.png" />
            <img class="vert-move3" src="../../assets/moon.png" />
            <img class="vert-move1" id="" src="../../assets/star.png" />
        </div>
    </div>
    <div class="body">
        <div id="main">
            <div id="msg">Page not found</div>
            <div id="error">
                <div id="f1">4</div>
                <div id="circle">
                    <div id="smalldot"></div>
                </div>
                <div id="f2">4</div>
            </div>

            <div id="btn" routerLink='/home'>Go Home</div>
        </div>

        <div id="ring"></div>

        <div class="dusk" id="d1"></div>
        <div class="dusk" id="d2"></div>
        <div class="dusk" id="d3"></div>
        <div class="dusk" id="d4"></div>
        <div class="dusk" id="d5"></div>
        <div class="dusk" id="d6"></div>
        <div class="dusk" id="d7"></div>
        <div class="dusk" id="d8"></div>
        <div class="dusk" id="d9"></div>

    </div>
</body>