<footer class="d-flex justify-content-between align-items-center">
    <img class="img-fluid" src="../../assets/logo-completa.png" alt="Logo da Smart-Giving">
    <a class="nav-link text-light politica" routerLink="/politica">Política de Privacidade</a>
    <div class="social-icons">
        <a href="#">
            <fa-icon [icon]='faFacebook' class="fa mr-2 btn-facebook"></fa-icon>
        </a>
        <a href="#">
            <fa-icon [icon]='faTwitter' class="fa mr-2 btn-twitter"></fa-icon>
        </a>
        <a href="#">
            <fa-icon [icon]='faGoogle' class="fa mr-2 btn-google"></fa-icon>
        </a>
    </div>
</footer>
<div class="d-flex justify-content-center copyrights_footer">
    <p class="text-center">Copyright © 2020 | Smart Giving</p>
</div>